.bitsName {
  width: 25px;
  .qbitTitle {
    height: 50px;
    line-height: 50px;

    .title-q {
      font-size: 20px;
    }
    .title-num {
      font-size: 10px;
      vertical-align: top;
    }
  }
}
