main {
  font-family: "Microsoft YaHei UI", "Microsoft YaHei", "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;
  align-items: flex-start;
  margin: 10px;

  .MainContent {
    display: grid;
    grid-template-rows: 45% 55%;
    height: 1040px;
    width: 1600px;

    .BottomContent {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 45% 55%;
      height: 100%;
      .BottomLeft {
        display: grid;
        grid-template-rows: 75% 25%;
        margin-right: 20px;
        height: 572px;
      }
      .BottomRight {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;
      }
    }
    .panel {
      display: grid;
      grid-template-rows: 40px auto;
      margin-top: 5px;
      margin-bottom: 5px;

      .circuit {
        margin-top: 15px;
        padding: {
          left: 15px;
          right: 15px;
        }
        display: grid;
        grid-template-columns: 25px auto;
        overflow: scroll;
      }
    }
  }
}

.panel {
  .panelHeader {
    display: flex;
    padding: 5px 0px;

    .info-group {
      margin-left: auto;
      margin-right: 10px;
      .info {
        margin-left: 10px;
        font-weight: 600;
        color: #454545;
      }
    }
  }

  --stroke-style: var(--vscode-editor-foreground);
}

.divider {
  margin-top: 2px;
  border-bottom: 2px solid #d4d4d4;
}

.circuit {
  // border: 2px solid #d4d4d4;
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;

  background-color: none;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #454545;
  border-bottom: 2px solid #454545;
}
