main {
  // justify-content: center;
  align-items: flex-start;
  height: 100vh;

  display: grid;
  grid-template-columns: 620px auto;
  margin: 10px;
  // justify-items: start;
  .panelHeader {
    font-weight: 600;
    font-size: 16px;
    // height: 30px;
  }

  .MainContent {
    display: grid;
    grid-template-rows: 330px 330px 330px;
    height: 100vh;

    .panel {
      display: grid;
      grid-template-rows: 15px auto;
      // padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      .circuit {
        border: solid;
        border-width: 0.5px;
        margin-top: 15px;
        // margin-bottom: 5px;
        padding: 15px;
        height: 250px;
        display: grid;
        grid-template-columns: 25px auto;
        //overflow: scroll;
      }
    }
  }
}
.panel {
  //: var(--vscode-foreground);
  --stroke-style: var(--vscode-editor-foreground);
}

// main > * {
//   margin: 1rem 0;
// }
