main {
  // justify-content: center;
  align-items: flex-start;
  // height: 720px;
  // width: 1680px;

  // display: grid;

  margin: 10px;
  // justify-items: start;
  .panelHeader {
    font-weight: 600;
    font-size: 16px;
    // height: 30px;
  }

  .MainContent {
    display: grid;
    grid-template-rows: 50% 50%;
    // height: 100vh;
    height: 960px;
    width: 1600px;

    .BottomContent {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 45% auto;
      .BottomLeft {
        display: grid;
        grid-template-rows: 75% auto;
        margin-right: 20px;
      }
      .BottomRight {
        display: grid;
        grid-template-columns: 50% auto;
      }
    }
    .panel {
      display: grid;
      grid-template-rows: 15px auto;
      // padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: solid;
      border-width: 0.5px;

      .circuit {
        border: solid;
        border-width: 0.5px;
        margin-top: 15px;
        // margin-bottom: 5px;
        padding: 15px;
        height: 250px;
        display: grid;
        grid-template-columns: 25px auto;
        //overflow: scroll;
      }
    }
    #connectivityPanel {
      margin-left: 20px;
    }
  }
}
.panel {
  //: var(--vscode-foreground);
  --stroke-style: var(--vscode-editor-foreground);
}

// main > * {
//   margin: 1rem 0;
// }
