#connectivityPanel {
  margin-left: 40px;
  .component {
    // margin-top: 5px;
    .componentTitle {
      // margin-left: 5px;
    }
    .componentName {
      font-size: 12px;
      color: gray;
    }
  }

  .matrix {
    margin-top: 5px;
  }

  .legend {
    margin-top: 5px;
    align-self: flex-end;
  }
  .legendName {
    font-size: 12px;
    margin: 5px;
    color: gray;
    :first {
      margin-left: 0px;
    }
  }
}
