.parallelismPanel {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  .firstRow {
    align-self: center;
    display: flex;
    flex-direction: row;
  }
  #rightExtentSVG {
    margin-right: 10px;
    margin-left: 1px;
    border-left: 1px solid #cccccc;
  }
  #leftExtentSVG {
    margin-right: 1px;
    border-right: 1px solid #cccccc;
  }
  #parallelismBar {
    margin-top: 10px;
    margin-left: 10px;
  }
  .selectRange {
    margin-top: 10px;
    margin-left: 20px;
  }
  .parallelism-legend {
    padding: 0 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .legend-title {
      justify-items: center;
      text-align: center;
      div {
        height: 1.5rem;
      }
    }

    .legend-content {
      margin-right: 10px;
      width: 250px;
      display: grid;

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .one-row {
        height: 1.5rem;
        justify-content: center;
      }

      .two-row {
        height: 3rem;

        .two-row-legend {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          svg {
            height: 1.5rem;
          }
        }
      }
      
      .legend-svg {
        height: 1.5rem;
      }
    }
  }
}
