.parallelismPanel {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;
  border: solid;
  border-width: 0.5px;
  .firstRow {
    align-self: center;
    display: flex;
    flex-direction: row;
  }
  #parallelismSVG {
    margin-right: 30px;
    margin-left: 20px;
  }
  #parallelismBar {
    margin-top: 10px;
    margin-left: 20px;
  }
  .selectRange {
    margin-top: 10px;
    margin-left: 20px;
  }
  .parallelismHori {
    margin: 5px;
    display: flex;
    flex-direction: row;
  }
  .parallelismSvgBlow {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
  }
  .parallelismSvgAbove{
    margin-left: 10px;
    display: flex;
  }
  .contentLow {
    margin : 5px;
  }
  .contentHigh {
    margin : 5px;
  }
}
